awscli>=1.21.2
aws-requests-auth==0.4.3
cfn-lint==0.54.3
jsonschema==3.2.0
locust==1.0.3
pylint==2.11.1
pytest==5.4.3
pytest-cov==2.8.1
PyYAML==5.4.1
requests==2.26.0
requests-mock==1.9.3
websockets==9.1
yq==2.12.2
