awscli==1.18.201
aws-requests-auth==0.4.3
cfn-lint==0.44.1
jsonschema==3.2.0
locust==1.4.1
pylint==2.6.0
pytest==6.2.1
pytest-cov==2.10.1
PyYAML==5.3.1
requests==2.25.1
requests-mock==1.8.0
websockets==8.1
yq==2.11.1
